* {
  margin: 0;
  background-color: rgb(143, 248, 239);
  margin: auto;
  align-items: center;
}
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
.App {
  display: flex;
  flex-direction: row;
  color: rgb(9, 2, 73);
  font-family: "Fredoka One", cursive;
  font-size: 30px;
  font-weight: 700;
  margin: auto;
  align-items: center;
  text-shadow: -1px 1px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 252, 252),
    1px -1px 0 rgb(255, 255, 255), -1px -1px 0 rgb(255, 255, 255);
}
.half {
  margin-top: 10px;

  display: flex;
  flex-direction: column;
}
.wrongAnswers {
  color: red;
}
li {
  list-style: none;
  margin: 10px;
}
button {
  color: rgb(255, 255, 255);
  font-family: "Fredoka One", cursive;
  font-size: larger;
  outline: none;
  border: 4px solid rgb(255, 133, 249);
  border-radius: 25px;
  background-color: rgb(0, 160, 253);
  margin: 10px;
}
input {
  background-color: rgb(247, 225, 196);
  width: 150px;
  height: 30px;
  margin: 10px;
  text-align: center;
  border: 4px solid rgb(0, 139, 88);
  border-radius: 10px;
  padding: 20px;
}
input:focus {
  outline: none;
}
input[type="text"] {
  color: rgb(9, 2, 73);
  font-family: "Fredoka One", cursive;
  font-size: larger;
  margin: 5px;
}
